@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo:400,700");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply text-neutral-50 hover:text-purple-400 hover:cursor-pointer duration-500;
  }
  .component-container {
    @apply w-4/5 h-4/5 m-auto;
  }
}

* {
  /* font-family: "Oleo Script", cursive; */
  font-family: var(--font-primary);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --font-primary: "Ubuntu", serif;
  --font-secundary: "Archivo", serif;
  --primary-color: #c084fc;
  --background-color: #3d3d3d88;
  --input-background-color: #3d3d3d00;
  --color-black: #212121;
}

.font-primary {
}

.black-bg {
  background: var(--color-black);
  border-bottom: 4px solid var(--primary-color);
  border-radius: 10px;
  padding: 5px;
}

.pure-black-bg {
  background: black;
  border-bottom: 4px solid var(--primary-color);
  border-radius: 10px;
  padding: 5px;
}

.gray-bg {
  background: var(--color-black);
  border-bottom: 4px solid var(--primary-color);
  border-radius: 10px;
  padding: 5px;
}

.button {
  padding: 10px 10px;
  border-radius: 10px;
  background-color: purple;
  transition-duration: 500ms;
}

.button:hover {
  background-color: rgb(192 132 255);
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212121;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(192 132 255);
  transition-duration: 500ms;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: purple;
}

.field {
  background: #212121;
  border-bottom: 4px dashed var(--primary-color);
  border-radius: 5px;
  outline: none;
  height: 1.9rem;
  padding: 10px;
}

.number {
  background: #212121;
  border-bottom: 4px dashed var(--primary-color);
  border-radius: 5px;
  outline: none;
  height: 1.9rem;
  padding: 20px 10px;
}

.textarea_vanilla {
  background: #212121;
  border-bottom: 4px dashed var(--primary-color);
  border-radius: 5px;
  outline: none;
  padding: 10px;
  resize: none;
}

.textarea {
  background: #212121;
  border-bottom: 4px dashed var(--primary-color);
  border-radius: 5px;
  outline: none;
  height: 80%;
  padding: 10px;
  width: 60%;
  resize: none;
}

.textarea-70 {
  background: #212121;
  border-bottom: 4px dashed var(--primary-color);
  border-radius: 5px;
  outline: none;
  height: 70%;
  padding: 10px;
  width: 60%;
  resize: none;
}

select {
  background: #212121;
  border-bottom: 4px dashed var(--primary-color);
  border-radius: 5px;
  outline: none;
  padding: 10px;
}

.label {
  background: #212121;
  border-bottom: 2px solid var(--primary-color);
  border-radius: 5px;
  outline: none;
  padding: 5px;
}

.label-pure-black {
  background: black;
  border-bottom: 2px solid var(--primary-color);
  border-radius: 5px;
  outline: none;
  padding: 5px;
}

.input-group {
  align-items: center;
}

.word-break {
  word-wrap: break-word;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: scale(4);
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
} 
